@charset "utf-8";
body {
 font: 14pt Arial, Helvetica, sans-serif;
 margin: 15;
 color: black;
}



#header {
  width: 380px;
  margin-top: 25px;
  
}

#exampleFormControlTextarea1 {
    border: 0px double blue;
}

#footer {
  display: none;
}

#footer1 {
  display: none;
}


.text {
  height: 300px;
}

.algc {
  text-align: center;
  color: white;
}

.cont{
  border: 4px double black;
  border-color: green;
}


/*#two {
    background: #F6EDFC;
}

table, th, td {
   border: 1px solid black;
}

.one table, th, td {
   border: 1px solid black;
}


.one tr:nth-child(2n+1) {
    background: white;
}

.one td:nth-child(2n+1) {
    background: gray;
}


tr {
            width: 40px;
        height: 75px;
}

td {
	text-align: center;
        width: 40px;
        height: 75px;
}*/